@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-slider button.slick-next::before,
.custom-slider button.slick-prev::before {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee3131;
  font-size: 30px;
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.custom-slider button.slick-next::before {
  content: "\276F";
}
.custom-slider button.slick-prev::before {
  content: "\276E";
}

.custom-slider button.slick-next {
  right: 80px;
  z-index: 10;
  top: 170px;
}
.custom-slider button.slick-prev {
  left: 20px;
  z-index: 10;
  top: 170px;
}

.image-slider button.slick-next::before,
.image-slider button.slick-prev::before {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ee3131;
  font-size: 30px;
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.image-slider button.slick-next::before {
  content: "\276F";
}
.image-slider button.slick-prev::before {
  content: "\276E";
}

.image-slider button.slick-next {
  right: 0px;
  z-index: 10;
  top: 90px;
}
.image-slider button.slick-prev {
  left: -60px;
  z-index: 10;
  top: 90px;
}
